<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="section">
<div th:replace="fragments/nav :: navbar"></div>
<div class="container">
    <h1 class="title">Customers</h1>
    <div class="buttons">
        <a class="button is-primary" href="/customers/new">New Customer</a>
        <a class="button" href="/">Home</a>
    </div>
    <table class="table is-fullwidth is-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${customers}">
            <td th:text="${c.name}">Name</td>
            <td th:text="${c.size}">Size</td>
            <td th:text="${c.phone}">Phone</td>
            <td th:text="${c.email}">Email</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
