<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="section">
<div th:replace="fragments/nav :: navbar"></div>
<div class="container">
    <h1 class="title">Inventory System</h1>
    <div class="buttons">
        <a class="button is-link" href="http://localhost:8081/items" th:href="@{/items}">Items</a>
        <a class="button" href="http://localhost:8081/suppliers" th:href="@{/suppliers}">Suppliers</a>
        <a class="button" href="http://localhost:8081/categories" th:href="@{/categories}">Categories</a>
        <a class="button" href="http://localhost:8081/customers" th:href="@{/customers}">Customers</a>
        <a class="button is-success" href="http://localhost:8081/receive" th:href="@{/receive}">Receive</a>
        <a class="button is-warning" href="http://localhost:8081/issue" th:href="@{/issue}">Issue</a>
        <a class="button is-info" href="http://localhost:8081/reports/summary" th:href="@{/reports/summary}">Reports</a>
        
    </div>
</div>
</body>
</html>
